:root{
    --vermelho:#E50914;
    --preto:#141414;  
}

*{ 
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background: var(--preto);
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

header .container{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

header .logo{
    margin-left:5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:var(--vermelho);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:40px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right:10px;
}

header nav a:hover {
    color:#fff;
}

.filme-principal{
    font-size:16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('/img/capa-house.jpg');

    height:550px;
    background-size:cover;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size:40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0, 0, 0, .50);
    border:none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.carrosel-filmes{
    margin-top: 5px;
}

.rodape{
    font-size:15px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

footer i{
   cursor: pointer;
   margin-bottom: 10px;
   color: var(--vermelho);
}

.redes{
    background-color:black;
    border:none;
    padding: 5px 10px;
    margin-bottom: 15px;
    transition: .3s ease all;
}

.redes:hover{
    background-color: rgb(88, 94, 99);
    color: black;
}

footer{
    align-items: center;
    display: flex;
    justify-content:center;
}

.titulo{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 15px;
}
